@charset "utf-8";

// FontAwesome
//$fa_font_path: "~@fortawesome/fontawesome-free/webfonts";
//@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
//@import '~@fortawesome/fontawesome-free/scss/regular.scss';
//@import '~@fortawesome/fontawesome-free/scss/solid.scss';
//@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// OpenSans
//$FontPathOpenSans: "~open-sans-fonts/open-sans";
//@import '~open-sans-fonts/open-sans';
//$family-primary: 'Open Sans';

// Bulma
//@import "~bulma/bulma";

@use "sass:color";

//@font-face {
//    font-family: 'BigSlabHammer';
//    /*src: url(webfont.eot');  IE9+ Compat Modes */
//    /*src: url('webfont.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
//    /*url('webfont.woff2') format('woff2'), Super modern browsers */
//    //src: url('webfont.woff') format('woff'), /* Modern browsers */
//    src: url('~fonts/BigSlabHammer.ttf') format('truetype'); /* Safari, Android, iOS */
//}
//@import '~fonts/brush-crush.css';
@font-face {
    font-family: 'BrushCrush';
    src: url(~fonts/brush-crush.eot);
    src: url(~fonts/brush-crush.eot?#iefix) format('embedded-opentype'), url(~fonts/brush-crush.woff2) format('woff2'), url(~fonts/brush-crush.woff) format('woff'), url(~fonts/brush-crush.ttf) format('truetype'), url(~fonts/brush-crush.svg#youworkforthem) format('svg');
    font-weight: normal;
    font-style: normal;
}

$crazy-tree: #9DAA52;
$crazy-green: #CBDE9C;
$crazy-lightgreen: #D7E5AA;
$crazy-hay: #FEEBA2;
$card-ratio: 167.7%;

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*@media screen and (max-width: 800px) {
    body {
        font-size: small;
    }
}*/

@mixin hover-count {
    font-family: BrushCrush;
    color: white;
    text-shadow: 2px 0.2em 0.2em #333;
    white-space: nowrap;
}

@mixin tooltip {
    visibility: hidden;
    white-space: normal;
    width: 18em;
    height: auto;
    background-color: black;
    background-image: none;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    top: 2em;
    right: 20px;
    z-index: 30;
    font-family: Arial,Helvetica,sans-serif;
    font-size: small;
    text-shadow: none;
}


.board {
    background-image: url(~img/board.jpg);
    background-size: contain;
    position: relative;
    width: 100%;
    padding-top: 100%;
    margin-top: 2em;
}
.fence {
    width: 4.3%;
    height: 1.1%;
    position: absolute;
    background-image: url(~img/fences.png);
    background-size: 100% 400%;
}
.player {
    background-image: url(~img/players.png);
    background-size: 400% 300%;
    width: 2.5%;
    height: 2.5%;
    position: absolute;
}

.tile {
    background-image: url(~img/tiles-2.png);
    background-size: 500% 800%;
    width: 9%;
    height: 9%;
    position: absolute;

    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 30;
    }

    &:hover {
        .tooltiptext {
            visibility: visible;
        }
    }

    &.empty {
        background: none;
    }

    &.cf-click {
        cursor: pointer;
    }
}


.fallow {
    opacity: 0.5;
}

.barn {
    width: 9%;
    height: 9%;
    position: absolute;
    background-image: url(~img/tiles-2.png);
    background-size: 500% 800%;
    background-position: -400% 0;
}

.barn.occupied {
    background-position: -400% -100%;
}

.crossroad {
    width: 2.5%;
    height: 2.5%;
    position: absolute;
    z-index: 30;
    background-color: #00000000;
    /* Tooltip text */
    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 30;
    }

    &:hover {
        .tooltiptext {
            visibility: visible;
        }
    }


    &.cf-click {
        cursor: pointer;
    }

/*    &.warn {
        background-color: #ff000080;
        border-radius: 50%;

    }
*/}

// crossroad offsets
.c--4-0-r { margin: .5% .6%; }
.c--4-1-r { margin: .4% .3%; }
.c--4-2-r { margin: .1% .3%; }
.c--4-3-r { margin: .5% -.4%; }
.c--4-4-r { margin: .0% .6%; }
.c--3--1-r { margin: 1.2% -.8%; }
.c--3-0-l { margin: -.4% .9%; }
.c--3-0-r { margin: .6% -.6%; }
.c--3-0-l { margin: -.4% .9%; }
.c--3-1-l { margin: .3% .4%; }
.c--3-1-r { margin: .6% -.6%; }
.c--3-2-l { margin: .4% -.1%; }
.c--3-2-r { margin: .65% -.65%; }
.c--3-3-l { margin: .4% .4%; }
.c--3-3-r { margin: .3% -.3%; }
.c--3-4-r { margin: .3% .2%; }
.c--2--2-r { margin: .7% -.2%; }
.c--2--1-l { margin: .35% -.1%; }
.c--2--1-r { margin: .35% -.3%; }
.c--2-0-l { margin: .7% -.7%; }
.c--2-0-r { margin: 0 0; }
.c--2-1-l { margin: .5% 0; }
.c--2-1-r { margin: .15% -.35%; }
.c--2-2-l { margin: .45% -.35%; }
.c--2-2-r { margin: .55% -.35%; }
.c--2-3-l { margin: .7% -.2%; }
.c--2-3-r { margin: .2% .2%; }
.c--2-4-r { margin: .3% .6%; }
.c--1--3-r { margin: 0.6% 0.5%; }
.c--1--2-l { margin: 0.4% -0.1%; }
.c--1--2-r { margin: 0.15% -0.05%; }
.c--1--1-l { margin: 0.4% 0%; }
.c--1--1-r { margin: 0.3% -0.4%; }
.c--1-0-l { margin: 0.5% 0%; }
.c--1-0-r { margin: -0.2% 0.35%; }
.c--1-1-l { margin: 0.3% -0.1%; }
.c--1-1-r { margin: 0.6% -0.1%; } 
.c--1-2-r { margin: -0.1% 0.25%; }
.c--1-3-l { margin: 0.3% 0.4%; }
.c--1-3-r { margin: 0.4% 0.2%; }
.c--1-4-r { margin: -0.1% 0.4%; }
.c-0--3-l { margin: -0.3% 0.2%; }
.c-0--3-r { margin: 0.35% -0.05%; }
.c-0--2-l { margin: 0.1% -0.05%; }
.c-0--2-r { margin: 0.5% 0%; }
.c-0--1-l { margin: -0.3% 0.5%; }
.c-0--1-r { margin: 0% 0.4%; }
.c-0-0-l { margin: 0.4% -0.5%; }
.c-0-0-r { margin: 0.4% 0.7%; }
.c-0-1-l { margin: 0.3% 0.3%; }
.c-0-1-r { margin: 0.2% 0.1%; }
.c-0-2-l { margin: 0.2% 0.6%; }
.c-0-2-r { margin: 0.7% -0.2%; }
.c-0-3-l { margin: 0.3% 0.4%; }
.c-0-3-r { margin: -0.1% 0%; }
.c-1--4-l { margin: 0.4% 0.1%; }
.c-1--3-l { margin: 0.6% 0.2%; }
.c-1--3-r { margin: 0.4% 0.1%; }
.c-1--2-l { margin: -.1% 0.75%; }
.c-1--2-r { margin: .45% -.2%; }
.c-1--1-l { margin: -.2% 0.7%; }
.c-1--1-r { margin: 0.4% -0.05%; }
.c-1-0-l { margin: .3% 0.9%; }
.c-1-0-r { margin: .35% 0.3%; }
.c-1-1-l { margin: .15% 0.3%; }
.c-1-1-r { margin: .2% 0.3%; }
.c-1-2-l { margin: .05% 0.7%; }
.c-1-2-r { margin: 0 0; }
.c-1-3-l { margin: -.2% 0.25%; }
.c-2--4-l { margin: .35% 0; }
.c-2--3-l { margin: -.15% 0; }
.c-2--3-r { margin: .1% -.5%; }
.c-2--2-l { margin: .5% .2%; }
.c-2--2-r { margin: .3% 0; }
.c-2--1-l { margin: .35% .35%; }
.c-2--1-r { margin: .5% .15%; }
.c-2-0-l { margin: .2% .0%; }
.c-2-0-r { margin: .3% .2%; }
.c-2-1-l { margin: .4% .6%; }
.c-2-1-r { margin: .4% .2%; }
.c-2-2-l { margin: -.3% -.7%; }
.c-3--4-l { margin: .5% -1.1%; }
.c-3--3-l { margin: .6% .3%; }
.c-3--3-r { margin: .4% -.4%; }
.c-3--2-l { margin: .0% .2%; }
.c-3--2-r { margin: .6% -.3%; }
.c-3--1-l { margin: .4% .6%; }
.c-3--1-r { margin: .2% -.5%; }
.c-3-0-l { margin: .4% .4%; }
.c-3-0-r { margin: .25% -.2%; }
.c-3-1-l { margin: -.2% -.15%; }
.c-4--4-l { margin: 0 -.7%; }
.c-4--3-l { margin: .25% .3%; }
.c-4--2-l { margin: .7% .3%; }
.c-4--1-l { margin: .5% -.1%; }
.c-4-0-l { margin: .1% .3%; }

.hay-bale {
    background-image: url(~img/markers.png);
    background-size: 800% 100%;
    background-position: 100% 0;
    position: absolute;
    width: 3%;
    height: 3%;
}
.path {
    position: absolute;
    width: 3%;
    height: 3%;
    /* Tooltip text */
    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 30;
    }

    &:hover {
        .tooltiptext {
            visibility: visible;
        }
    }

    &.cf-click {
        cursor: pointer;
    }
}
.b--4-1-e {
    margin: -.1% -.2%;
    transform: rotate(62deg) !important;
}
.b--4-2-e {
    margin: .2% -.4%;
    transform: rotate(62deg) !important;
}
.b--4-3-e {
    margin: .4% -.7%;
    transform: rotate(64deg) !important;
}
.b--4-4-e {
    margin: .4% -.5%;
    transform: rotate(56deg) !important;
}
.b--3-0-w {
    margin: -.1% .1%;
    transform: rotate(-50deg) !important;
}
.b--3-1-w {
    margin: .2% -.3%;
    transform: rotate(-53deg) !important;
}
.b--3-2-w {
    margin: 0% -.5%;
    transform: rotate(-54deg) !important;
}
.b--3-3-w {
    margin: .4% -.45%;
    transform: rotate(-57deg) !important;
}
.b--3-0-n {
    margin: .3% .6%;
    transform: rotate(4deg) !important;
}
.b--3-1-n {
    margin: .5% .12%;
    transform: rotate(5deg) !important;
}
.b--3-2-n {
    margin: .3% .4%;
    transform: rotate(6deg) !important;
}
.b--3-3-n {
    margin: .5% -.1%;
    transform: rotate(2deg) !important;
}
.b--3-4-n {
    margin: .5% .4%;
    transform: rotate(8deg) !important;
}
.b--3-0-e {
    margin: .3% -.55%;
    transform: rotate(68deg) !important;
}
.b--3-1-e {
    margin: .35% -.65%;
    transform: rotate(63deg) !important;
}
.b--3-2-e {
    margin: .35% -.55%;
    transform: rotate(67deg) !important;
}
.b--3-3-e {
    margin: .25% -.5%;
    transform: rotate(61deg) !important;
}
.b--3-4-e {
    margin: .45% -.5%;
    transform: rotate(60deg) !important;
}
.b--2--1-w {
    margin: .8% -.65%;
    transform: rotate(-68deg) !important;
}
.b--2-0-w {
    margin: .75% -.7%;
    transform: rotate(-58deg) !important;
}
.b--2-1-w {
    margin: .45% -.55%;
    transform: rotate(-56deg) !important;
}
.b--2-2-w {
    margin: .55% -.65%;
    transform: rotate(-58deg) !important;
}
.b--2-3-w {
    margin: .45% -.55%;
    transform: rotate(-62deg) !important;
}
.b--2--1-n {
    margin: .3% -.2%;
    transform: rotate(2deg) !important;
}
.b--2-0-n {
    margin: .3% 0;
    transform: rotate(1deg) !important;
}
.b--2-1-n {
    margin: .5% 0;
    transform: rotate(0deg) !important;
}
.b--2-2-n {
    margin: .5% -.05%;
    transform: rotate(-1deg) !important;
}
.b--2-3-n {
    margin: .1% .2%;
    transform: rotate(3deg) !important;
}
.b--2-4-n {
    margin: .5% .5%;
    transform: rotate(-1deg) !important;
}
.b--2--1-e {
    margin: .2% -.3%;
    transform: rotate(62deg) !important;
}
.b--2-0-e {
    margin: 0 -.2%;
    transform: rotate(62deg) !important;
}
.b--2-1-e {
    margin: .15% -.25%;
    transform: rotate(66deg) !important;
}
.b--2-2-e {
    margin: .2% -.3%;
    transform: rotate(66deg) !important;
}
.b--2-3-e {
    margin: -.1% 0;
    transform: rotate(60deg) !important;
}
.b--2-4-e {
    margin: .35% -.25%;
    transform: rotate(62deg) !important;
}
.b--1--2-w {
    margin: .5% -.4%;
    transform: rotate(-56deg) !important;
}
.b--1--1-w {
    margin: .4% -.3%;
    transform: rotate(-58deg) !important;
}
.b--1-0-w {
    margin: .1% -.3%;
    transform: rotate(-57deg) !important;
}
.b--1-1-w {
    margin: .3% -.25%;
    transform: rotate(-60deg) !important;
}
.b--1-2-w {
    margin: .4% -.3%;
    transform: rotate(-60deg) !important;
}
.b--1-3-w {
    margin: .2% 0%;
    transform: rotate(-56deg) !important;
}
.b--1--2-n {
    margin: .2% .3%;
    transform: rotate(-4deg) !important;
}
.b--1--1-n {
    margin: .2% .12%;
    transform: rotate(2deg) !important;
}
.b--1-0-n {
    margin: .3% .55%;
    transform: rotate(1deg) !important;
}
.b--1-1-n {
    margin: .2% -.06%;
    transform: rotate(4deg) !important;
}
.b--1-2-n {
    margin: .1% .3%;
    transform: rotate(0deg) !important;
}
.b--1-3-n {
    margin: .2% .7%;
    transform: rotate(3deg) !important;
}
.b--1-4-n {
    margin: .5% .8%;
    transform: rotate(-2deg) !important;
}
.b--1--2-e {
    margin: -.3% -.3%;
    transform: rotate(70deg) !important;
}
.b--1--1-e {
    margin: -.1% -.45%;
    transform: rotate(67deg) !important;
}
.b--1-0-e {
    margin: -.3% 0%;
    transform: rotate(62deg) !important;
}
.b--1-1-e {
    margin: .25% -.4%;
    transform: rotate(66deg) !important;
}
.b--1-2-e {
    margin: 0 0;
    transform: rotate(64deg) !important;
}
.b--1-3-e {
    margin: .2% -.15%;
    transform: rotate(64deg) !important;
}
.b--1-4-e {
    margin: .15% 0;
    transform: rotate(65deg) !important;
}
.b-0--3-w {
    margin: .1% .2%;
    transform: rotate(-50deg) !important;
}
.b-0--2-w {
    margin: .1% -.25%;
    transform: rotate(-56deg) !important;
}
.b-0--1-w {
    margin: .1% -.1%;
    transform: rotate(-60deg) !important;
}
.b-0-0-w {
    margin: 0 -.3%;
    transform: rotate(-53deg) !important;
}
.b-0-1-w {
    margin: .55% 0%;
    transform: rotate(-60deg) !important;
}
.b-0-2-w {
    margin: -.2% -.1%;
    transform: rotate(-59deg) !important;
}
.b-0-3-w {
    margin: .3% .2%;
    transform: rotate(-59deg) !important;
}
.b-0--3-n {
    margin: .3% .6%;
    transform: rotate(2deg) !important;
}
.b-0--2-n {
    margin: 0% .45%;
    transform: rotate(5deg) !important;
}
.b-0--1-n {
    margin: .25% .45%;
    transform: rotate(0deg) !important;
}
.b-0-0-n {
    margin: -.1% .8%;
    transform: rotate(5deg) !important;
}
.b-0-1-n {
    margin: .3% .8%;
    transform: rotate(2deg) !important;
}
.b-0-2-n {
    margin: 0 .6%;
    transform: rotate(6deg) !important;
}
.b-0-3-n {
    margin: .35% .8%;
    transform: rotate(-2deg) !important;
}
.b-0-4-n {
    margin: .35% .6%;
    transform: rotate(2deg) !important;
}
.b-0--3-e {
    margin: .1% .1%;
    transform: rotate(64deg) !important;
}
.b-0--2-e {
    margin: .3% .11%;
    transform: rotate(64deg) !important;
}
.b-0--1-e {
    margin: -.1% .2%;
    transform: rotate(62deg) !important;
}
.b-0-0-e {
    margin: .1% .2%;
    transform: rotate(65deg) !important;
}
.b-0-1-e {
    margin: .1% .25%;
    transform: rotate(69deg) !important;
}
.b-0-2-e {
    margin: .2% 0;
    transform: rotate(68deg) !important;
}
.b-0-3-e {
    margin: -.2% .2%;
    transform: rotate(65deg) !important;
}
.b-1--3-w {
    margin: .45% 0%;
    transform: rotate(-59deg) !important;
}
.b-1--2-w {
    margin: .2% .3%;
    transform: rotate(-57deg) !important;
}
.b-1--1-w {
    margin: -.1% .4%;
    transform: rotate(-57deg) !important;
}
.b-1-0-w {
    margin: .2% .6%;
    transform: rotate(-54deg) !important;
}
.b-1-1-w {
    margin: .1% 0;
    transform: rotate(-55deg) !important;
}
.b-1-2-w {
    margin: .5% .1%;
    transform: rotate(-62deg) !important;
}
.b-1-3-w {
    margin: 0 .1%;
    transform: rotate(-58deg) !important;
}
.b-1--3-n {
    margin: .2% .3%;
    transform: rotate(2deg) !important;
}
.b-1--2-n {
    margin: -.2% .3%;
    transform: rotate(-1deg) !important;
}
.b-1--1-n {
    margin: .3% .55%;
    transform: rotate(4deg) !important;
}
.b-1-0-n {
    margin: .35% .85%;
    transform: rotate(2deg) !important;
}
.b-1-1-n {
    margin: .25% .35%;
    transform: rotate(2deg) !important;
}
.b-1-2-n {
    margin: .4% .5%;
    transform: rotate(-1deg) !important;
}
.b-1-3-n {
    margin: -.1% 0%;
    transform: rotate(5deg) !important;
}
.b-1--3-e {
    margin: .1% .1%;
    transform: rotate(68deg) !important;
}
.b-1--2-e {
    margin: .0% -.4%;
    transform: rotate(68deg) !important;
}
.b-1--1-e {
    margin: .3% -.15%;
    transform: rotate(68deg) !important;
}
.b-1-0-e {
    margin: .2% .15%;
    transform: rotate(63deg) !important;
}
.b-1-1-e {
    margin: 0;
    transform: rotate(60deg) !important;
}
.b-1-2-e {
    margin: .05% .2%;
    transform: rotate(64deg) !important;
}
.b-2--3-w {
    margin: .1% -.1%;
    transform: rotate(-50deg) !important;
}
.b-2--2-w {
    margin: .5% .1%;
    transform: rotate(-58deg) !important;
}
.b-2--1-w {
    margin: .5% 0;
    transform: rotate(-56deg) !important;
}
.b-2-0-w {
    margin: .3% .05%;
    transform: rotate(-56deg) !important;
}
.b-2-1-w {
    margin: .3% .2%;
    transform: rotate(-57deg) !important;
}
.b-2-2-w {
    margin: .2% -.2%;
    transform: rotate(-53deg) !important;
}
.b-2--3-n {
    margin: .3% -.2%;
    transform: rotate(3deg) !important;
}
.b-2--2-n {
    margin: .3% .35%;
    transform: rotate(3deg) !important;
}
.b-2--1-n {
    margin: .3% .35%;
    transform: rotate(-1deg) !important;
}
.b-2-0-n {
    margin: .35% .75%;
    transform: rotate(3deg) !important;
}
.b-2-1-n {
    margin: .35% .6%;
    transform: rotate(5deg) !important;
}
.b-2-2-n {
    margin: .15% .2%;
    transform: rotate(5deg) !important;
}
.b-2--3-e {
    margin: -.15% -.8%;
    transform: rotate(62deg) !important;
}
.b-2--2-e {
    margin: .2% .0%;
    transform: rotate(66deg) !important;
}
.b-2--1-e {
    margin: .1% -.1%;
    transform: rotate(66deg) !important;
}
.b-2-0-e {
    margin: .2% .0%;
    transform: rotate(62deg) !important;
}
.b-2-1-e {
    margin: .3% .1%;
    transform: rotate(66deg) !important;
}
.b-3--3-w {
    margin: .3% -.5%;
    transform: rotate(-62deg) !important;
}
.b-3--2-w {
    margin: .2% 0;
    transform: rotate(-58deg) !important;
}
.b-3--1-w {
    margin: .4% .1%;
    transform: rotate(-55deg) !important;
}
.b-3-0-w {
    margin: .3% .2%;
    transform: rotate(-57deg) !important;
}
.b-3-1-w {
    margin: .4% 0;
    transform: rotate(-54deg) !important;
}
.b-3--3-n {
    margin: -.1% -.3%;
    transform: rotate(0deg) !important;
}
.b-3--2-n {
    margin: .3% .45%;
    transform: rotate(2deg) !important;
}
.b-3--1-n {
    margin: .35% .55%;
    transform: rotate(5deg) !important;
}
.b-3-0-n {
    margin: .25% .35%;
    transform: rotate(5deg) !important;
}
.b-3-1-n {
    margin: .3% .55%;
    transform: rotate(1deg) !important;
}
.b-3--3-e {
    margin: -.2% -.3%;
    transform: rotate(60deg) !important;
}
.b-3--2-e {
    margin: .2% .1%;
    transform: rotate(60deg) !important;
}
.b-3--1-e {
    margin: .2% -.1%;
    transform: rotate(60deg) !important;
}
.b-3-0-e {
    margin: 0 .1%;
    transform: rotate(59deg) !important;
}
.b-4--3-w {
    margin: .4% 0;
    transform: rotate(-54deg) !important;
}
.b-4--2-w {
    margin: .7% .1%;
    transform: rotate(-56deg) !important;
}
.b-4--1-w {
    margin: .4% -.1%;
    transform: rotate(-56deg) !important;
}
.b-4-0-w {
    margin: .3% .2%;
    transform: rotate(-56deg) !important;
}



.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    display: flex;
    flex-flow: column;
    align-content: stretch;

    .dash {
        background-color: $crazy-green;
        display: flex;
        flex-flow: row;

        i.fa-bars {
            display: inline-block;
            margin: 5px;
            color: $crazy-tree;
            width: 1em;
            height: 1em;
        }

    }
}

.dashboard {
    justify-self: stretch;
    flex: 1 0 auto;
    background-color: $crazy-green;
    display: flex;
    flex-flow: row wrap;
}

.common-goal {
    margin-left: auto;
    flex: 0 0 auto;
    width: 0.2em;
    padding-left: 3em;
    text-wrap: none;

    .stack {
        display: inline-block;
        margin-left: -2.3em;
        margin-top: 0.5em;
    }

    .tile {
        position: static;
        width: 2em;
        height: 2em;
    }


    .tile-count {
        font-family: BrushCrush;
        font-size: 1.5em;
        color: white;
        text-shadow: 2px 0.2em 0.2em #333;
        vertical-align: top;
        margin-left: -1.3em;
        width: 1.3em;
        margin-top: 0.2em;
        display: inline-block;
        white-space: nowrap;
        text-align: center;
    }


    .tooltiptext {
        @include tooltip;
    }

    &:hover .tooltiptext {
        visibility: visible;
    }
}
.player-dashboard {
    flex: 1 1 25%;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
    display: flex;
    flex-flow: column;

    .player-top {
        flex: 0 0 3em;
        display: flex;
        flex-flow: row wrap;
        align-content: stretch;
    }

    .description {
        flex: 0 0 auto;

        .player {
            display: block;
            /*margin-top: 1em;*/
            margin-left: 0.5em;
            width: 2em;
            height: 2em;
            z-index: 10;
        }

        .name {
            margin-left: 3em;
        }
    }
}

.player-dashboard.local {
    background-color: $crazy-hay;
}

.moves {
    display: inline-block;
    margin-left: 2.5em;
    height: 1.5em;


    .flash {
        background-image: url(~img/markers.png);
        background-size: 1600% 100%;
        background-position: 400% 0;
        width: 0.75em;
        height: 1.5em;
        margin-right: 0.15em;
        display: inline-block;
    }

    .flash.inactive {
        background-position-x: 300%;
    }


    .tooltiptext {
        @include tooltip;
    }

    &:hover .tooltiptext {
        visibility: visible;
    }
}

.player-board {
    display: flex;
    flex-flow: column;
    align-content: stretch;
    justify-content: space-between;
}

.bga {
    &.player-dashboard {
        flex: 0 1 auto;
        justify-self: end;
    }

    .moves {
        margin-left: 3.5em;


    }

    .card-info {

        .tooltiptext {
            @include tooltip;
        }

        &:hover .tooltiptext {
            visibility: visible;
        }
    }

    .card-count {
        position: relative;
        overflow: hidden;
        width: 3em;
        justify-self: end;
        margin-right: 0.5em;


        &:before {
            content: "";
            display: block;
            padding-top: $card-ratio;
        }

        div {
            @include hover-count;
            font-size: 1.5em;
            background-image: url(~img/cards-2.jpg);
            background-size: 600% 200%;
            background-position: 0 0;
            border-radius: 10%;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .description {
        position: absolute;
    }

    .markers {
        align-self: flex-end;
        display: flex;
        align-items: flex-end;
        margin-top: 1.5em;

        & > div {
            .tooltiptext {
                visibility: hidden;
                width: 120px;
                background-color: black;
                color: #fff;
                text-align: center;
                padding: 5px 0;
                border-radius: 6px;
                /* Position the tooltip text - see examples below! */
                position: relative;
                height: auto;
                top: -3.5em;
                left: -20px;
                z-index: 30;
            }
        }

        & > div:hover .tooltiptext {
            visibility: visible;
        }
    }

    .common-goal, .individual-goal {
        font-size: 110%;
        align-self: flex-end;


    }
}
#crazy_undo {
    float: right;


}

#game_play_area {
    .crazy-box {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .board-box {
        max-width: 100vh;
        width: 100%
    }

    .board {
        margin-top: 0;
    }

    .cards {
        align-self: stretch;
        padding-top: 1em;
        padding-bottom: 1em;
        height: 6em;
        background-color: color.change($crazy-hay, $alpha: 0.4);
        display: flex;
        flex-flow: row;
        align-content: center;
        justify-content: center;

        button {
            width: auto;
            padding: 0.2em;
            border-radius: 0.3em;
            border: 1px solid $crazy-tree;
            background-color: $crazy-hay;
        }
    }



    h3, .hand-title {
        font-family: 'BrushCrush';
        color: white;
        font-size: 120%;
        text-shadow: 2px 0.2em 0.2em #333;
    }
    h3 { 
        margin: 0;
        margin-top: -0.5em; 
    }

    .hand-title {
        position: absolute;
        top: 0.3em;
        left: 0.3em;
    }
    .hand {
        flex: 1 1 auto;
        display: flex;
        flex-flow: row;
        align-content: center;
        justify-content: center;
    }


    .empty-hand {
        flex: 1 1 auto;
        text-align: center;
        font-style: italic;
        font-size: 80%;
        color: white;
        align-self: center;
        text-shadow: 2px 0.2em 0.2em #333;
    }

    .action {
        max-width: 50%;
        top: 7em;
    }

    .card-container {
        margin-left: 0.25em;
        margin-right: 0.25em;
    }

    .card {
        flex: 0 1 auto;
        width: 4em;
        padding-top: $card-ratio;
        position: relative;
        cursor: pointer;
    }

    .played-card {
        min-width: 4em;
        width: 10%;

        .card {
            width: 100%;
            padding-top: $card-ratio;
            height: auto;
        }
    }




    .action {

        .player {
            width: 3em;
            height: 3em;
            position: static;
        }

        .player:hover {
            background-position-y: -100%;
        }
    }


    .card-count {
        position: relative;
        overflow: hidden;
        width: 3em;
        justify-self: end;
        margin-right: 0.5em;


        &:before {
            content: "";
            display: block;
            padding-top: $card-ratio;
        }

        div {
            @include hover-count;
            font-size: 1.5em;
            background-image: url(~img/cards-2.jpg);
            background-size: 600% 200%;
            background-position: 0 0;
            border-radius: 10%;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .drawpile {
        flex: 0 1 auto;
        align-self: stretch;
        justify-self: flex-end;
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-right: 0.5em;
    }

    .card-info {

        .tooltiptext {
            @include tooltip;
        }

        &:hover .tooltiptext {
            visibility: visible;
        }
    }
}

.cardicon {
    width: 1.8em;
    float: left;
    margin-right: 0.5em;

    .card {
        width: auto;
    }
}

.markers {
    flex: 1 1 auto;
    margin-left: 0.5em;

    & > div {
        width: 2.5em;
        height: 2.5em;
        background-image: url(~img/markers.png);
        background-size: 800% 100%;
        background-position-y: 0;
        display: inline-block;

        .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            /* Position the tooltip text - see examples below! */
            position: relative;
            top: 2.5em;
            left: -20px;
            z-index: 30;
        }

    }

    & > div:hover .tooltiptext {
        visibility: visible;
    }

    .rut-marker {
        background-position-x: -200%;
    }

    .nitro-1-marker {
        background-position-x: 0px;
    }

    .nitro-2-marker {
        background-position-x: -100%;
    }

    .watchdog-marker {
        background-position-x: -400%;
    }

    .highvoltage-marker {
        background-position-x: -300%;
    }

    .helicopter-marker {
        background-position-x: -500%;
    }
}

.individual-goal {
    display: block;
    margin-left: 1em;
    float: right;

    .stack {
        display: inline-block;
        margin-left: -2.3em;
        margin-top: 0.5em;
    }

    .tile {
        position: static;
        width: 2em;
        height: 2em;
    }

    .tile-count {
        @include hover-count;
        font-size: 1.5em;
        vertical-align: top;
        text-align: center;
        margin-top: 0.2em;
        display: inline-block;
        margin-left: -1.3em;
        width: 1.3em;
    }


    .tooltiptext {
        @include tooltip;
    }

    &:hover .tooltiptext {
        visibility: visible;
    }
}

.dashboard.closed {
    .moves {
        height: 1em;
    }
    .flash {
        width: 1em;
        height: 1em;
    }
}

.help {
    background-color: $crazy-tree;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 2em;
    display: flex;
    flex-flow: row;

    span {
        flex: 1 0 auto;
    }


    .undo {
        flex: 0 1 auto;
        justify-self: flex-end;
    }

}

.warn {
    opacity: 0.5;

   
}

.warntip {
    width: 2.5%;
    height: 2.5%;
    position: absolute;

    .tooltiptext {
        visibility: hidden;
        width: 220px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 30;
    }

    &:hover .tooltiptext {
        visibility: visible;
    }
}

#draw_warning {
    line-height: 1em;
}

.blue {
    .fence {
        background-position: 0 0;
    }

    .player {
        background-position: 0 0;
    }

    .player.selected {
        background-position: 0 -100%;
        
    }

    .player.ko {
        background-position: 0 -200%;
    }

    .tile {
        background-position: 0 0;
    }
}
.yellow {
    .fence {
        background-position: 0 -100%;
    }

    .player {
        background-position: -100% 0;
    }
    .player.selected {
        background-position: -100% -100%;
    }
    .player.ko {
        background-position: -100% -200%;
    }

    .tile {
        background-position: -100% 0%;
    }
}

.purple {
    .fence {
        background-position: 0 -200%;
    }

    .player {
        background-position: -200% 0;
    }

    .player.selected {
        background-position: -200% -100%;
    }

    .player.ko {
        background-position: -200% -200%;
    }

    .tile {
        background-position: -200% 0%;
    }
}

.red {
    .fence {
        background-position: 0 -300%;
    }

    .player {
        background-position: -300% 0;
    }

    .player.selected {
        background-position: -300% -100%;
    }
    .player.ko {
        background-position: -300% -200%;
    }

    .tile {
        background-position: -300% 0%;
    }
}

.tile.t0 { background-position-y: 0; }
.tile.t1 { background-position-y: -100%; }
.tile.t2 { background-position-y: -200%; }
.tile.t3 { background-position-y: -300%; }
.tile.t4 { background-position-y: -400%; }
.tile.t5 { background-position-y: -500%; }
.tile.t6 { background-position-y: -600%; }
.tile.t7 { background-position-y: -700%; }


$back-x: -4.8vw;
$back-y: 0.15vw;


div.card {
    /*margin-top: 3em;*/
    width: 5vw;
    padding-top: $card-ratio; 
    border-radius: 0.5vw;
    background-clip: padding-box;
    box-shadow: rgba(0,0,0,0.4) 2px 2px 3px;
    /*display: inline-block;*/
    background-image: url(~img/cards-2.jpg);
    background-size: 600% 200%;

    .tooltiptext {
        @include tooltip;
        top: 6em;
        width:8em;
        left: -2em;
        right: auto;
    }

    &:hover .tooltiptext {
        visibility: visible;
    }
}



div.back {
    position: relative;
    background-position: 0 0;
}

.nitro-1 {
    background-position: -100% 0;
}

.nitro-2 {
    background-position: -200% 0;
}

.rut {
    background-position: -300% 0;
}

.hay-bale-1 {
    background-position: -400% 0;
}

.hay-bale-2 {
    background-position: -500% 0;
}

.dynamite {
    background-position: 0 -100%;
}

.high-voltage {
    background-position: -100% -100%;
}

.watchdog {
    background-position: -200% -100%;
}

.helicopter {
    background-position: -300% -100%;
}

.bribe {
    background-position: -400% -100%;
}

.gameover {
    background-position: -500% -100%;
}


.cards {
    padding-top: 0.2vw;

    .card-container {
        display: inline-block;
        margin-right: 0.4vw;
    }

    div.action {
        position: absolute;
        border: 1px solid $crazy-tree;
        background-color: $crazy-green;
        border-radius: 1em;
        padding: 1em;
        z-index: 200;

        h2 {
            font-family: BrushCrush;
        }

        .buttons {
            margin-top: 0.3em;
            width: 100%;
            padding-right: 1em;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            justify-items: flex-start;
            align-items: baseline;

            button {
                flex: 0 0 auto;
            }

            span {
                flex: 1 0 auto;
            }


            .discard {
                flex: 0 0 auto;
                color: black;
                justify-self: flex-end;
                margin-right: 1em;
            }

            .cancel {
                flex: 0 0 auto;
                color: black;
                justify-self: flex-end;
            }
        }

        .player {
            width: 3em;
            height: 3em;
            position: static;
        }
    }

    .z1 {
        top: 0;
        left: 0;
        z-index: 6;
    }

    .z2 {
        top: $back-y;
        left: $back-x;
        z-index: 5;
    }

    .z3 {
        top: $back-y*2;
        left: $back-x*2;
        z-index: 4;
    }

    .z4 {
        top: $back-y*3;
        left: $back-x*3;
        z-index: 3;
    }

    .z5 {
        top: $back-y*4;
        left: $back-x*4;
        z-index: 2;
    }

    .z6 {
        top: $back-y*5;
        left: $back-x*5;
        z-index: 1;
    }
}
@keyframes fadeout
{
  0% { opacity: 0; }
  5% { opacity: 1;}
  90% { opacity: 1;}
  100% { opacity: 0; }
}

.played-card {
    position: fixed;
    left: 4em;
    top: 12em;
    opacity: 0;
    z-index: 150;
    animation-name: fadeout;
    animation-duration: 6s;
    transition-property: opacity;
    .card {
        width: 2*5vw;
        padding-top: $card-ratio;
    }
}

@function proportional-text($font-size, $viewport-size) {
    @return ($font-size*100/$viewport-size)+vw;
}

.victory-box {
    position: absolute;
    width: 60%;
    top: 40%;
    left: 20%;



    /*&:before {
        content: '';
        display: block;
        padding-top: 80%;
    }*/

    .victory {
        left: 20%;
        height: 100%;
        font-family: BrushCrush;
        background-image: url(~img/victory.png);
        background-repeat: no-repeat;
        background-size: contain;
        color: white;
        font-size: proportional-text(40px, 1040px);
        text-align: center;
        text-shadow: 0.1em 0.1em 0.1em #333;
        padding-top: 5%;
        display: flex;
        flex-flow: column;
        align-items: center;

        p {
            margin-top: 0.05em;
            margin-bottom: 0.05em;
            display: block;
        }

        .winner {
            margin-left: auto;
            width: 2em;
            height: 2em;
            margin-right: auto;
        }

        .player {
            width: 2em;
            height: 2em;
        }

        .back {
            margin-top: 2.3%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: small;
            text-shadow: 1px 1px 1px #333;
            color: white;
            font-weight: bold;
            padding: 0.5em;
            border: 1px solid #444;
            background-color: #4065a3;
            border-bottom-width: 2px;
            border-radius: 0.5em;

            &:hover {
                background-color: #4871b6;
            }

            a {
                text-decoration: none;
                color: white;
            }

            a:hover {
                color: white;
            }


            a:visited {
                color: white;
            }
        }
    }
}

.chat {
    position: fixed;
    width: 20em;
    bottom: 0;
    right: 3em;
    z-index: 100;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    border: 1px solid $crazy-tree;
    background-color: $crazy-lightgreen;

    i.fa-bars {
        display: inline-block;
        margin: 5px;
        color: $crazy-tree;
        width: 1em;
        height: 1em;
    }

    &.show {
        height: 20em;
    }


    @keyframes highlight {
        0% {
            color: red;
        }


        90% {
            color: red;
        }

        100% {
            color: $crazy-green;
        }
    }

    .chat-header {
        flex: 0 0 auto;
        background-color: $crazy-green;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        padding: 0.3em 1em 0.3em 1em;
        line-height: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
    }

    .highlight {
        animation-name: highlight;
        animation-duration: 6s;
        transition-property: color;
    }

    .chat-content {
        flex: 1 0 auto;
        overflow-y: scroll;
        height: 0;
    }

    .chat-lines {
        background-color: $crazy-lightgreen;
        padding: 1em;
        display: flex;
        flex-flow: column;
        align-items: flex-end;


        .entry {
            background-color: $crazy-hay;
            padding: 0.3em 1em 0.3em 1em;
            border-radius: 1em;
            margin-bottom: 0.5em;

            p {
                margin: 0;
                padding: 0;
            }

            &.you {
                border-bottom-right-radius: 0;
                align-self: flex-end;
            }

            &.other {
                border-bottom-left-radius: 0;
                align-self: flex-start;
            }

            .author {
                display: flex;
                flex-flow: row;

                .player {
                    flex: 0 0 1em;
                    width: 1em;
                    height: 1em;
                    position: static;
                }

                .name {
                    margin-left: 0.3em;
                    color: #888;
                }
            }
        }

        .time {
            font-size: xx-small;
            text-align: right;
        }
    }


    @keyframes pop {
        0% {
            opacity: 1;
        }


        90% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .chat-pop {
        position: absolute;
        display: flex;
        flex-flow: row;
        background-color: $crazy-hay;
        width: 100%;
        height: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        align-items: center;
        animation-name: pop;
        animation-duration: 6s;
        transition-property: opacity;
        opacity: 0;

        .author {
            display: flex;
            flex-flow: row;

            .player {
                flex: 0 0 1em;
                margin-left: 0.3em;
                width: 1em;
                height: 1em;
                position: static;
            }

            .name {
                margin-left: 0.3em;
                color: #888;
                margin-right: 0.5em;
            }
        }

        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    input {
        flex: 0 0 auto;
        margin: 0;
        margin-top: 1px;
    }
}
