@charset "utf-8";

// FontAwesome
//$fa_font_path: "~@fortawesome/fontawesome-free/webfonts";
//@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
//@import '~@fortawesome/fontawesome-free/scss/regular.scss';
//@import '~@fortawesome/fontawesome-free/scss/solid.scss';
//@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// OpenSans
//$FontPathOpenSans: "~open-sans-fonts/open-sans";
//@import '~open-sans-fonts/open-sans';
//$family-primary: 'Open Sans';

// Bulma
//@import "~bulma/bulma";

@use "sass:color";

@font-face {
    font-family: 'BigSlabHammer';
    /*src: url(webfont.eot');  IE9+ Compat Modes */
    /*src: url('webfont.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
    /*url('webfont.woff2') format('woff2'), Super modern browsers */
    //src: url('webfont.woff') format('woff'), /* Modern browsers */
    src: url(~fonts/BigSlabHammer.ttf) format('truetype') /* Safari, Android, iOS */
}

$crazy-tree: #9DAA52;
$crazy-green: #CBDE9C;
$crazy-lightgreen: #D7E5AA;
$crazy-hay: #FEEBA2;

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 800px) {
    body {
        font-size: small;
    }
}

@mixin hover-count {
    font-family: BigSlabHammer;
    color: white;
    text-shadow: 2px 0.2em 0.2em #333;
    white-space: nowrap;
}

.board {
    background-image: url(~img/board.jpg);
    background-size: contain;
    position: relative;
    width: 100%;
    padding-top: 100%;
    margin-top: 2em;
}
.fence {
    background-size: contain;
    background-repeat: no-repeat;
    width: 4.3%;
    height: 1.1%;
    position: absolute;
}
.player {
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.5%;
    height: 2.5%;
    position: absolute;
}

.tile {
    background-size: contain;
    background-repeat: no-repeat;
    width: 9%;
    height: 9%;
    position: absolute;
}

.fallow {
    opacity: 0.5;
}

.barn {
    background-size: contain;
    width: 9%;
    height: 9%;
    position: absolute;
    background-image: url(~img/barn.png);
    background-repeat: no-repeat;
}
.barn.occupied {
    background-image: url(~img/barn-occupied.png);
}

i.fa-bars {
    display: inline-block;
    margin: 5px;
    color: $crazy-tree;
    width: 1em;
    height: 1em;
}


.crossroad {
    width: 2.5%;
    height: 2.5%;
    position: absolute;
    z-index: 30;

    /* Tooltip text */
    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 30;
    }


}

.crossroad:hover {
    .tooltiptext {
        visibility: visible;
    }
}
.hay-bale {
    background-image: url(~img/hay-bale.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;

    width: 3%;
    height: 3%;
}
.path {
    position: absolute;
    width: 3%;
    height: 3%;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    display: flex;
    flex-flow: column;
    align-content: stretch;
}

.dashboard {
    background-color: $crazy-green;
    display: flex;
    flex-flow: row wrap;





}
.common-goal {
    margin-left: auto;
    flex: 0 0 auto;
    width: 0.2em;
    padding-left: 3em;
    text-wrap: none;

    .stack {
        display: inline-block;
        margin-left: -2.3em;
        margin-top: 0.5em;
    }

    .tile {
        position: static;
        width: 2em;
        height: 2em;
    }


    .tile-count {
        font-family: BigSlabHammer;
        color: white;
        text-shadow: 2px 0.2em 0.2em #333;
        vertical-align: top;
        margin-left: -1.9em;
        margin-top: 0.8em;
        display: inline-block;
        white-space: nowrap;
        text-align: center;
    }
}
.player-dashboard {
    flex: 1 1 25%;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
    display: flex;
    flex-flow: column;

    .player-top {
        flex: 0 0 3em;
        display: flex;
        flex-flow: row wrap;
        align-content: stretch;
    }

    .description {
        flex: 0 0 auto;

        .player {
            display: block;
            /*margin-top: 1em;*/
            margin-left: 0.5em;
            width: 2em;
            height: 2em;
            z-index: 10;
        }

        .name {
            margin-left: 3em;
        }
    }
}

.player-dashboard.local {
    background-color: $crazy-hay;
}

.moves {
    display: inline-block;
    margin-left: 2.5em;
    height: 1.5em;


    .flash {
        background-image: url(~img/flash.png);
        width: 1.5em;
        height: 1.5em;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .flash.inactive {
        background-image: url(~img/flash-inactive.png);
    }
}

.player-board {
    display: flex;
    flex-flow: column;
    align-content: stretch;
    justify-content: space-between;
}

.bga {
    &.player-dashboard {
        flex: 0 1 auto;
        justify-self: end;
    }

    .moves {
        margin-left: 3.5em;
    }

    .card-count {
        position: relative;
        overflow: hidden;
        width: 3em;
        justify-self: end;
        margin-right: 0.5em;

        &:before {
            content: "";
            display: block;
            padding-top: 142%;
        }

        div {
            @include hover-count;
            font-size: large;
            background-image: url(~img/card-back.jpg);
            background-size: contain;
            background-repeat: no-repeat;
            border-radius: 10%;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .description {
        position: absolute;
    }

    .markers {
        margin-left: 3em;
        align-self: flex-end;
    }

    .common-goal, .individual-goal {
        font-size: 110%;
        align-self: flex-end;
    }

}


#game_play_area {
    .board {
        margin-top: 0;
    }

    .cards {
        padding-top: 1em;
        padding-bottom: 1em;
        height: 6em;
        background-color: color.change($crazy-hay, $alpha: 0.4);
        display: flex;
        flex-flow: row;
        align-content: center;
        justify-content: center;

        button {
            width: auto;
            padding: 0.2em;
            border-radius: 0.3em;
            border: 1px solid $crazy-tree;
            background-color: $crazy-hay;
        }
    }

    .hand-title {
        position:absolute;
        top: 0.3em;
        left: 0.3em;
        font-family: 'BigSlabHammer';
        color: white;
        font-size: 120%;
    }

    .empty-hand {
        text-align: center;
        font-style: italic;
        font-size: 80%;
        color: white;
        align-self: center;
    }

    .action {
        max-width: 50%;
        top: 7em;
    }

    .card-container {
        margin-left: 0.25em;
        margin-right: 0.25em;
    }

    .card {
        flex: 0 1 auto;
        width: 4em;
        padding-top: 144%;
        position: relative;
    }

    .played-card {
        min-width: 4em;
        width: 10%;

        .card {
            width: 100%;
            padding-top: 144%;
            height: auto;
        }
    }




    .action {

        .player {
            width: 3em;
            height: 3em;
            position: static;
        }

        .blue {
            .player:hover {
                background-image: url(~img/selected-player-blue.png);
            }
        }

        .yellow {
            .player:hover {
                background-image: url(~img/selected-player-yellow.png);
            }
        }

        .purple {
            .player:hover {
                background-image: url(~img/selected-player-purple.png);
            }
        }

        .red {
            .player:hover {
                background-image: url(~img/selected-player-red.png);
            }
        }
    }
}

.cardicon {
    width: 1.8em;
    float: left;
    margin-right: 0.5em;

    .card {
        width: auto;
    }
}

.markers {
    flex: 1 1 auto;
    margin-left: 0.5em;

    div {
        width: 2.5em;
        height: 2.5em;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
    }

    .rut-marker {
        background-image: url(~img/rut-marker.png);
    }

    .nitro-1-marker {
        background-image: url(~img/nitro-1-marker.png);
    }

    .nitro-2-marker {
        background-image: url(~img/nitro-2-marker.png);
    }

    .watchdog-marker {
        background-image: url(~img/watchdog-marker.png);
    }

    .highvoltage-marker {
        background-image: url(~img/highvoltage-marker.png);
    }

    .helicopter-marker {
        background-image: url(~img/helicopter-marker.png);
    }
}

.individual-goal {
    display: block;
    margin-left: 1em;
    float: right;

    .stack {
        display: inline-block;
        margin-left: -2.3em;
        margin-top: 0.5em;
    }

    .tile {
        position: static;
        width: 2em;
        height: 2em;
    }

    .tile-count {
        @include hover-count;
        vertical-align: top;
        margin-left: -2.2em;
        margin-top: 0.8em;
        display: inline-block;
        
    }
}

.dashboard.closed {
    .moves {
        height: 1em;
    }
    .flash {
        width: 1em;
        height: 1em;
    }
}

.help {
    background-color: $crazy-tree;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 2em;
}

.blue {
    .fence {
        background-image: url(~img/fence-blue.png);
    }

    .player {
        background-image: url(~img/player-blue.png);
    }

    .player.selected {
        background-image: url(~img/selected-player-blue.png);
    }

    .player.ko {
        background-image: url(~img/ko-player-blue.png);
    }

    .tile {
        background-image: url(~img/tile-blue.png);
    }
}
.yellow {
    .fence {
        background-image: url(~img/fence-yellow.png);
    }

    .player {
        background-image: url(~img/player-yellow.png);
    }
    .player.selected {
        background-image: url(~img/selected-player-yellow.png);
    }
    .ko.selected {
        background-image: url(~img/ko-player-yellow.png);
    }

    .tile {
        background-image: url(~img/tile-yellow.png);
    }
}

.red {
    .fence {
        background-image: url(~img/fence-red.png);
    }

    .player {
        background-image: url(~img/player-red.png);
    }

    .player.selected {
        background-image: url(~img/selected-player-red.png);
    }
    .player.ko {
        background-image: url(~img/ko-player-red.png);
    }

    .tile {
        background-image: url(~img/tile-red.png);
    }
}

.purple {
    .fence {
        background-image: url(~img/fence-purple.png);
    }

    .player {
        background-image: url(~img/player-purple.png);
    }
    .player.selected {
        background-image: url(~img/selected-player-purple.png);
    }
    .player.ko {
        background-image: url(~img/ko-player-purple.png);
    }

    .tile {
        background-image: url(~img/tile-purple.png);
    }
}


$back-x: -4.8vw;
$back-y: 0.15vw;


div.card {
    /*margin-top: 3em;*/
    width: 5vw;
    padding-top: 144%;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0.5vw;
    background-clip: padding-box;
    box-shadow: rgba(0,0,0,0.4) 2px 2px 3px;
    /*display: inline-block;*/
}



div.back {
    position: relative;
    background-image: url(~img/card-back.jpg);
}

.nitro-1 {
    background-image: url(~img/card-nitro-1.jpg);
}

.nitro-2 {
    background-image: url(~img/card-nitro-2.jpg);
}

.rut {
    background-image: url(~img/card-rut.jpg);
}

.hay-bale-1 {
    background-image: url(~img/card-1-hay-bale.jpg);
}

.hay-bale-2 {
    background-image: url(~img/card-2-hay-bales.jpg);
}

.dynamite {
    background-image: url(~img/card-dynamite.jpg);
}

.high-voltage {
    background-image: url(~img/card-high-voltage.jpg);
}

.watchdog {
    background-image: url(~img/card-watchdog.jpg);
}

.helicopter {
    background-image: url(~img/card-helicopter.jpg);
}

.bribe {
    background-image: url(~img/card-bribe.jpg);
}


.cards {
    padding-top: 0.2vw;

    .card-container {
        display: inline-block;
        margin-right: 0.4vw;
    }

    div.action {
        position: absolute;
        border: 1px solid $crazy-tree;
        background-color: $crazy-green;
        border-radius: 1em;
        padding: 1em;
        z-index: 200;

        h2 {
            font-family: BigSlabHammer;
        }

        .buttons {
            margin-top: 0.3em;
            width: 100%;
            padding-right: 1em;
            display: flex;
            flex-flow: row wrap;
            justify-items: flex-start;

            button {
                flex: 0 0 auto; 
            }

            span {
                flex: 1 0 auto;
            }


            .discard {
                flex: 0 0 auto;
                color: black;
                justify-self: flex-end;
                margin-right: 1em;
            }

            .cancel {
                flex: 0 0 auto;
                color: black;
                justify-self: flex-end;
            }
        }

        .player {
            width: 3em;
            height: 3em;
            position: static;
        }
    }

    .z1 {
        top: 0;
        left: 0;
        z-index: 6;
    }

    .z2 {
        top: $back-y;
        left: $back-x;
        z-index: 5;
    }

    .z3 {
        top: $back-y*2;
        left: $back-x*2;
        z-index: 4;
    }

    .z4 {
        top: $back-y*3;
        left: $back-x*3;
        z-index: 3;
    }

    .z5 {
        top: $back-y*4;
        left: $back-x*4;
        z-index: 2;
    }

    .z6 {
        top: $back-y*5;
        left: $back-x*5;
        z-index: 1;
    }
}
@keyframes fadeout
{
  0% { opacity: 0; }
  5% { opacity: 1;}
  90% { opacity: 1;}
  100% { opacity: 0; }
}

.played-card {
    position: fixed;
    left: 4em;
    top: 12em;
    opacity: 0;
    z-index: 150;
    animation-name: fadeout;
    animation-duration: 6s;
    transition-property: opacity;
    .card {
        width: 2*5vw;
        padding-top: 144%;
    }
}

.victory {
    position: fixed;
    width: 60%;
    height: 30%;
    top: 20%;
    left: 20%;
    background-image: url(~img/victory.png);
    background-size: contain;
    background-repeat: no-repeat;

    font-family: BigSlabHammer;
    color: white;
    font-size: 200%;
    text-align: center;
    padding-top: 0.5em;

    text-shadow: 0.1em 0.1em 0.1em #333;

    p { margin-top: 0.05em;
       margin-bottom: 0.05em;
    }

    .winner {
        margin-left: auto;
        width: 2em;
        height: 2em;
        margin-right: auto;
    }

    .player {
        width: 2em;
        height: 2em;

    }

    .back {
        margin-top: 2.3%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;

        color: white;
        font-weight: bold;

        *:visited {
            color: white;
        }
    }

}

.chat {
    position: fixed;
    width: 20em;
    bottom: 0;
    right: 3em;
    z-index: 100;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    border: 1px solid $crazy-tree;
    background-color: $crazy-lightgreen;

    &.show {
        height: 20em;
    }


    @keyframes highlight {
        0% {
            color: red;
        }


        90% {
            color: red;
        }

        100% {
            color: $crazy-green;
        }
    }

    .chat-header {
        flex: 0 0 auto;
        background-color: $crazy-green;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        padding: 0.3em 1em 0.3em 1em;
        line-height: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
    }

    .highlight {
        animation-name: highlight;
        animation-duration: 6s;
        transition-property: color;
    }

    .chat-content {
        flex: 1 0 auto;
        overflow-y: scroll;
        height: 0;
    }

    .chat-lines {
        background-color: $crazy-lightgreen;
        padding: 1em;
        display: flex;
        flex-flow: column;
        align-items: flex-end;


        .entry {
            background-color: $crazy-hay;
            padding: 0.3em 1em 0.3em 1em;
            border-radius: 1em;
            margin-bottom: 0.5em;

            p {
                margin: 0;
                padding: 0;
            }

            &.you {
                border-bottom-right-radius: 0;
                align-self: flex-end;
            }

            &.other {
                border-bottom-left-radius: 0;
                align-self: flex-start;
            }

            .author {
                display: flex;
                flex-flow: row;

                .player {
                    flex: 0 0 1em;
                    width: 1em;
                    height: 1em;
                    position: static;
                }

                .name {
                    margin-left: 0.3em;
                    color: #888;
                }
            }
        }

        .time {
            font-size: xx-small;
            text-align: right;
        }
    }


    @keyframes pop {
        0% {
            opacity: 1;
        }


        90% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .chat-pop {
        position: absolute;
        display: flex;
        flex-flow: row;
        background-color: $crazy-hay;
        width: 100%;
        height: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        align-items: center;
        animation-name: pop;
        animation-duration: 6s;
        transition-property: opacity;
        opacity: 0;

        .author {
            display: flex;
            flex-flow: row;

            .player {
                flex: 0 0 1em;
                margin-left: 0.3em;
                width: 1em;
                height: 1em;
                position: static;
            }

            .name {
                margin-left: 0.3em;
                color: #888;
                margin-right: 0.5em;
            }
        }

        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    input {
        flex: 0 0 auto;
        margin: 0;
        margin-top: 1px;
    }
}
