@charset "utf-8";

// FontAwesome
//$fa_font_path: "~@fortawesome/fontawesome-free/webfonts";
//@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
//@import '~@fortawesome/fontawesome-free/scss/regular.scss';
//@import '~@fortawesome/fontawesome-free/scss/solid.scss';
//@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// OpenSans
//$FontPathOpenSans: "~open-sans-fonts/open-sans";
//@import '~open-sans-fonts/open-sans';
//$family-primary: 'Open Sans';



// Bulma
//@import "~bulma/bulma";

@font-face {
    font-family: 'BigSlabHammer';
    /*src: url(webfont.eot');  IE9+ Compat Modes */
    /*src: url('webfont.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
    /*url('webfont.woff2') format('woff2'), Super modern browsers */
    //src: url('webfont.woff') format('woff'), /* Modern browsers */
    src: url(~fonts/BigSlabHammer.ttf) format('truetype'), /* Safari, Android, iOS */
}

$crazy-red:  #E84737;
$crazy-blue: #B0DFF5;
$crazy-purple: #83436A;
$crazy-dark: #354A4A;

$crazy-lightgreen: #ECF1A2;
$crazy-darkgreen: #D8EFAB;

$crazy-grey: #C2C7DB;

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../Game/public/img/background.png);
    background-size:cover;
    height: 100vh;
}

div, h1, h2 {
    margin: 0;
    padding: 0;

}

h1, h2 {
    font-family: BigSlabHammer;
    font-weight: normal;

}
*, *::before, *::after {
    box-sizing: inherit;
}
.text {
    margin-top: 6vw;
    width: 58vw;
}

.players {
    display: flex;
    margin-right: 0em;
    flex-flow: row wrap;
}

.select-player {
    /*float: left;*/
    padding: 5px;

    img {
        border-radius: 15px;
        width: 38vw;
        max-width: 800px;
        border: 3px solid transparent;
    }

    img:hover {
        border: 3px solid $crazy-red;
        cursor: pointer;
    }
}

.selected {
    img, img:hover {
        border: 3px solid $crazy-dark;
        cursor: default;
    }

}
.selected.local {
    img, img:hover {
        border: 3px solid $crazy-red;
        cursor: default;
    }
}


.goals {
    display: flex;
    width: 75vw;
    flex-flow: row;
    font-family: BigSlabHammer;

    li {
        border-radius: 15px;
        border: 3px solid transparent;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        list-style: none;
        flex: 1 1 auto;
        text-align: center;
        
        div {
            font-family: Arial, Helvetica, sans-serif;
            font-size: small;
        }
    }



    &.new-game {
        cursor: pointer;

        li:hover {
            border-color: $crazy-grey;
        }
    }



    .selected, .selected:hover {
        border-color: $crazy-dark;
    }
}

.title {
    background-image: url(/img/crazyfarmers.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 60%;
    height: 100vh;
}

.content {
    padding: 1em;

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        text-decoration: underline;
    }
}
.header {
    height: 2em;
    text-align: right;
    color: black;

    span {
        margin-left: 1em;
        margin-right: 0.5em;
    }

    a {
        color: black;
        text-decoration: none;
    }
    a:hover {
        color: gray;
    }
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: right;

    span {
        margin: 1em;
    }
}

label {
    width: 10em;
}

input {
    margin-top: 0.8em;
}

button {
    background-color: $crazy-grey;
    font-weight: bold;
    margin-top: 1em;
    margin-right: 1em;
    border-radius: 3px;
    border: 1px solid $crazy-dark;
    padding: 0.5em;
}

h1.main {
    margin-top: 10vh;
    margin-bottom: 1em;
}

.switch {
    margin-top: 2em;
    font-style: italic;

}

.info {
    font-style: italic;
    color: $crazy-dark;
}

h2 {
    margin-top: 5em;
}

li {
    list-style-type: '⚡';
}
